*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

#navBar {
  display: flex;
  width: 100%;
  height: 3.6rem;
  background-color: #262626;
  align-items: center;
  margin-bottom: 0.4rem;
}

#companyNameLogo {
  display: inline-flex;
  width: 35%;
  flex-direction: row;
  align-items: center;
}

#logoImage {
  display: inline-block;
  height: 3.6rem;
  width: auto;
  margin-right: 1rem;
}

#companyName {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #fff;
}

#searchAndCart {
  display: inline-flex;
  width: 65%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

#companyName {
  display: inline-block;
  font-size: 2rem;
}

#searchBar {
  display: inline-flex;
  width: 55%;
  height: 2.4rem;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
  justify-content: space-between;
}

#btnS {
  width: 10%;
  height: 2.4rem;
  padding: 0px;
  margin: 0px;
  background-color: #ff9710;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#btnS:hover {
  cursor: pointer;
  background-color: #ff771c;
}

#inputSearch {
  width: 90%;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 1.1rem;
  align-self: center;
  background-color: #dfdedeec;
  color: #000;
  height: 2.4rem;
  padding-left: 1rem;
}

#inputSearch::placeholder {
  color: #424141;
  font-size: 0.9rem;
  padding-left: 0.8rem;
}

#inputSearch:focus {
  outline: none;
  border: none;
}

#searchButton {
  height: 2rem;
  width: auto;
  align-self: center;
}

#addToCart {
  display: block;
  border: none;
  margin: none;
  outline: none;
  background-color: #262626;
  align-self: center;
}

#addToCartImg {
  display: inline-block;
  height: 3.3rem;
  width: auto;
  justify-self: flex-end;
  background-color: #262626;
  margin-right: 0.6rem;
  margin-left: 0px;
  padding: 0.4rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  z-index: -1;
}

#itemCount {
  position: fixed;
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  top: 1.5rem;
  padding-left: 1.3rem;
  font-size: 1rem;
}

#addToCartImg:hover {
  background-color: #ff771c;
  cursor: pointer;
}

#product-filters {
  width: fit-content;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
}

.products-category1,
.products-price,
.products-sorting {
  margin: 0rem 1rem;
  border: 1px solid #eeeeee;
  border-radius: 0px;
}

#fCat,
#fPrice,
#sPrice {
  text-align: center;
  font-size: 0.9rem;
  color: #474747;
  margin: 3px 0px;
}

.f-btn {
  padding: 4px 7px;
  margin: 9px;
  border: 1px solid #b9d9eb;
  background-color: #f3fbff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  color: black;
}

.f-btn:hover {
  cursor: pointer;
  background-color: #0567a0b0;
  color: white;
}

.f-btn.selected {
  background-color: #0567a0;
  color: white;
}

.clear-Filters {
  display: inline-block;
  width: max-content;
  height: max-content;
  align-self: flex-end;
  margin-bottom: 10px;
}

.clearFilters {
  background-color: #0678ba;
  color: #fff;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #035a8c;
  transition: 2ms ease-out;
}

.clearFilters:hover {
  cursor: pointer;
  transform: scale(1.04);
}

#products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: auto;
  justify-content: center;
  text-align: center;
}

#products-grid > .pdiv {
  width: 240px;
  background-color: #fbfcfd;
  border: 1.1px solid lightgrey;
  border-radius: 6px;
  box-shadow: 0px 1px 6px #dedede;
  padding: 10px;
  box-sizing: border-box;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

#products-grid > .pdiv:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 8px #8f9193;
}

#products-grid > .pdiv > img {
  display: block;
  width: 100%;
  height: 9rem;
  object-fit: contain;
  margin: 5px auto;
}

#products-grid > .pdiv > .pname {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  height: 2.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

#products-grid > .pdiv > .pcatg {
  font-size: 0.8rem;
  font-weight: 600;
  color: #555353;
  margin: 0;
}

#products-grid > .pdiv > .pprice {
  font-size: 0.9rem;
  font-weight: 700;
  color: #025484;
  margin: 0;
}

.pdiv > .p-btns {
  display: flex;
  justify-content: space-evenly;
  gap: 0.4rem;
  margin-top: 0.5rem;
}

.pdiv > .p-btns > .pbtn {
  background-image: linear-gradient(
    180deg,
    #faa930 20%,
    #ff9710 55%,
    #ff771c 100%
  );
  border: 1px solid #9f9d9d;
  border-radius: 5px;
  width: 5.2rem;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    font-weight 0.3s ease;
}

.pdiv > .p-btns > .pbtn:hover {
  background-color: #ff771c;
  font-weight: 700;
}

.noProdFound {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.1rem;
  margin-top: 10%;
  color: #252424;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  grid-column: 1/7;
}

#cartDialog {
  position: relative; /* keep this */
  top: 4rem;
  left: 48%;
  width: 50%;
  height: 82%;
  max-height: 500px;
  border: 2px solid #bbbdbe;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
}

#productsInCartContainerDiv {
  padding: 0;
  margin: 2px;
  width: 98%;
  height: 92%;
  max-height: 440px;
  overflow-y: scroll;
}

.cartDiv {
  box-sizing: border-box;
  display: grid;
  width: 98%;
  height: 140px;
  grid-template-columns: 140px 1fr 1fr 110px;
  grid-template-rows: repeat(3, 1fr);
  margin: 0px 1rem;
  padding: 10px 0px;
}

#closeCart {
  position: absolute; /* ⭐ key */
  display: block;
  bottom: 0px;
  width: 100%;
  text-align: center;
  height: 2rem;
  background-color: #ff771c;
  color: #000;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

#placeOrder {
  position: absolute; /* ⭐ key */
  display: block;
  bottom: 2rem;
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  height: fit-content;
  background-color: #fff;
  color: #13b60d;
  border: 1px solid #13b60d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

#placeOrder:hover {
  background-color: #ddf8dd;
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.6; /* optional */
}

.cartProdImg {
  height: 120px;
  width: 86px;
  image-rendering: optimizeQuality;
  object-fit: contain;
  grid-column: 1/2;
  grid-row: 1/3;
}

.cartProdName {
  display: inline-block;
  width: 90%;
  grid-column: 2/4;
  grid-row: 1/2;
}

.prodQuantity {
  grid-column: 2/3;
  grid-row: 2/3;
}

.removeItem {
  grid-column: 3/4;
  grid-row: 2/3;
  cursor: pointer;
  font-size: 14px;
  color: #ff771c;
  display: inline-block;
}

.priceText {
  grid-column: 4/5;
  grid-row: 1/2;
  text-align: center;
  font-size: 12px;
  color: #424141;
}

.cartProdPrice {
  grid-column: 4/5;
  grid-row: 2/3;
  text-align: center;
  font-size: 1.2rem;
}

.qtyMinus,
.qtyPlus {
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  color: black;
  border-radius: 2px;
  border: 1px solid #d3d2d2;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

#hRuler {
  color: #e7e5e5;
  background-color: #e7e5e5;
  grid-column: 1/5;
  grid-row: 3/3;
  width: 100%;
  height: 2px;
  border: none;
}
