*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#summary-container {
  display: flex;
  margin-top: 2rem;
  width: 95vw;
  height: 88vh;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

#itemsList {
  width: 68%;
  background-color: #fff;
  border: 1px solid #e2e2e4;
}

#productsContainer {
  height: 82%;
  overflow-y: scroll;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.prodDiv {
  display: grid;
  grid-template-columns: 150px 1fr 90px;
  grid-template-rows: repeat(4, 1fr);
  padding: 10px;
  margin: 0px;
  height: 180px;
}

.prodImage {
  height: 150px;
  grid-column: 1/2;
  grid-row: 1/5;
  padding: 0.6rem;
}

.prodName {
  grid-column: 2/3;
  grid-row: 1/3;
  padding: 0.6rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.prodQuantity {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
}

.prodPrice {
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 0.6rem;
  font-size: 1.1rem;
  font-weight: 500;
}

#itemsListHeader {
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  margin: 0.7rem 0.7rem 0.2rem 0.7rem;
  color: #222222;
  font-size: 1.4rem;
}

#priceP {
  display: block;
  color: #5a5959;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin-right: 1.1rem;
}

#priceDetails {
  width: 30%;
  background-color: #fff;
  height: max-content;
  border: 1px solid #e2e2e4;
}
#priceDetailsHeader {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 0.6rem;
  color: #222222;
  font-size: 1.3rem;
}

.horizontalRuler {
  border: none;
  border-top: 1px solid lightgray;
  width: 96%;
  margin: 0.5rem auto;
}

.priceDetails {
  width: 100%;
}

.priceDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

#subtotalText,
#subtotalValue {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0px 0px 6px 0px;
}

#confirmBtnDiv {
  display: block;
  width: 100%;
  text-align: center;
}

#confirmOrderBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 6px 14px;
  background-color: #faa930;
  margin: 1rem auto;
  color: #000;
  border: 1px solid #000;
  font-weight: 500;
}

#confirmOrderBtn:hover {
  cursor: pointer;
  background-color: #ff771c;
}

#orderConfirmed {
  position: sticky;
  top: 4rem;
  left: 25%;
  width: 50%;
  height: max-content;
  color: #1d8a13;
  border: 1px solid #1d8a13;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: 400;
}
